html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#30303d;
	color:white;
}

#root {
  width: 100%;
  height: 350px;
}
#map {
  width: 100%;
  height: 500px;
}
section {
	height:110px;
	background:#cbc0d2;
	color:#5a0081;
	font-size: 1em;
	padding-top: 1px;
	padding-left: 15px;
	font-family: lucida console;

}
h1{
	font: normal 175% 'century gothic', arial, sans-serif;
	font-size: 50px;
	text-align: center;
	color:#f9baff;
}
#radar {
  width: 500px;
  height: 400px;
}		
.Radar {
	padding-top:50px;
  width: 500px;
  height: 100%;
}		
.Map {
flex-grow: 1;
}
.App {
  flex-grow: 1;
}
.container{
    display:flex;
}
